/* Fonts */

/*
font-family: 'Poppins', sans-serif; 
font-family: 'Open Sans', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  resize: none;
  color: #fff;
}

:root {
  /* Primary Colors */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body {
  width: 100%;
  height: 100vh;
  background: url("../../images/bg-desktop.svg"), var(--violet);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 5vw;
  padding: 40px 106px;
}

#logo {
  width: 160px;
}

main {
  padding-top: 50px;
  gap: 60px;
}

.left-side img {
  width: 510px;
}

.right-side {
  gap: 20px;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  padding-top: 20px;
}
.site-heading {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.site-text,
.register-button {
  font-family: "Open Sans", sans-serif;
}

.site-text {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
}
.register-button {
  border-radius: 20px;
  width: 150px;
  height: 43px;
  background-color: #fff;
  color: var(--violet);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.register-button:hover {
  color: #fff;
  background-color: var(--soft-magenta);
}
.socials {
  padding-right: 25px;
  gap: 15px;
}

.socials a,
.socials i {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 14px;
}

.socials a:hover {
  border-color: var(--soft-magenta);
}
.socials a:hover i {
  color: var(--soft-magenta);
}

@media screen and (max-width: 400px) {
  body {
    background: url("../../images/bg-mobile.svg"), var(--violet);
    padding: 30px 18px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
  }

  nav {
    text-align: left;
    padding: 0 18px 10px 18px;
  }

  #logo {
    width: 140px;
  }

  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .left-side img {
    width: 89%;
  }

  .right-side {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .site-heading {
    font-size: 27px;
  }

  .site-text {
    width: 75%;
  }

  .register-button {
    width: 200px;
    height: 43px;
  }

  footer .socials {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px 0;
  }
}
